//
// The little light before status description
// todo: make this inherit from a resource version so we can reuse for volumes
//

.instance-status-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background: gray;

  &.active {
    background: green;
  }

  &.transition {
    background: #F9CB49;
  }

  &.inactive {
    background: crimson;
  }
}

.report-instance-view {
  margin-top: 20px;
}

#container.metrics {
    $soft_black: #777;
    margin: auto;
    width: 650px;
    min-height: 600px;
    text-align: right;

    #controls-container {
        margin-bottom: 30px;
        color: $soft_black;

        #controls {
            margin-bottom: 0px;
            display: inline-block;

            #refresh.disabled {
                // color: $brand-primary;
            }
            #refresh:not(.disabled) {
                color: $brand-primary;
            }
            #refresh:hover:not(.disabled) {
                color: #376a15;
                cursor: pointer;
            }
        }
    }
    #graph {
        text-align: center;
        min-height: 100px;
    }

    .loading {
        margin: 0 auto;
    }

    .x.line {
      stroke: $soft_black;
    }

    .y.axis, .x.axis {
      fill: $soft_black;
      font: 14px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";            
    }
    svg {
        margin-bottom: 30px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #808080;
    }
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
    .rx.area {
        fill: #FADEE3;
    }
    .rx.line {
      stroke:brown;
    }
    .tx.area {
      fill: #E9F0FC;
    }
    .tx.line {
      stroke:darkblue;
    }
    .mean.line {
      stroke: #E9E9E9;
    }
}

